{% extends "/base.html.twig" %}

{% block title %}List Tournament{% endblock %}


{% block content %}
    
    <h1>List of Tournaments</h1>
    <ul id="tournament-list">
        {% for tournament in tournaments %}

            <li class="tournament">
                <span><b>Title:</b> {{ tournament.name }}<br></span>
                <span><b>Price:</b> {{ tournament.admissionPrice }}<br></span>
                <span><b>Host:</b> {{ tournament.host }}<br></span>
                <span><a href="/listTournament/{{ tournament.id }}">Voir</a></span>
                {% if session %}
                    {% if session.user.role == 'admin' or  session.user.firstname == tournament.host %}
                            <form method="POST" action="/listTournament/delete">
                                <input type="submit" value="delete" name="{{tournament.id}}">
                            </form>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}