{% extends "/base.html.twig" %}

{% block title %}Information about the tournament {{ tournamentDetails.name }}{% endblock %}

{% block content %}

<h1>{{ tournamentDetails.name }}</h1>
<h2>Hosted by: {{ tournamentDetails.host }}</h2>
<h3>Entrance price: {{ tournamentDetails.admissionPrice }}</h3>

<ol>
    {% for participant in tournamentDetails.tournamentParticipants %}
        <li>{{ participant }}</li>
    {% endfor %}
</ol>

{% endblock %}