{% extends "/base.html.twig" %}

{% block title %}Information about the tournament {{ tournamentDetails.name }}{% endblock %}

{% block content %}

<h1>{{ tournamentDetails.name }}</h1>
<h2>Hosted by: {{ tournamentDetails.host }}</h2>
<h3>Entrance price: {{ tournamentDetails.admissionPrice }}</h3>


{% if tournamentDetails.tournamentParticipants[0] != null %}
    <ol>
        {% for participant in tournamentDetails.tournamentParticipants %}
            <li>{{ participant }}</li>
        {% endfor %}
    </ol>

    {% if tournamentDetails.host != session.user.pseudo or session.user.role == 'admin' %}
        <a href={{ "/listTournament/" ~ tournamentId ~ "/createMatch"}}>Create a match</a>
    {% endif %}

    <ul>
        {% for match in matches %}
            <li>Match n°{{ match.id }}:<br>
                Players: {{ match.player1 }} ( {{ match.goal_player1 }} ) VS {{ match.player2 }} ( {{ match.goal_player2 }} )<br>

                {% if match.isFinished == 'true' %}
                    Match terminé.
                {% else %}
                    Match en cours. <br>
                        {% if tournamentDetails.host != session.user.pseudo %}
                            <a href={{ "/listTournament/" ~ tournamentId ~ "/updateMatch/" ~ match.id }}>Update the match</a>
                        {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No players joined yet, be the first one !</p>
{% endif %}

{% endblock %}