{% extends "/base.html.twig" %}

{% block title %}User Profile{% endblock %}


{% block content %}

    <h1>Profile of {{ session.user.pseudo }}</h1>

    <div id="profile">
        <p><b>Pseudo:</b> {{ session.user.pseudo }} </p><br>
        <p><b>Firstname:</b> {{ session.user.firstname }} </p><br>
        <p><b>Lastname:</b> {{ session.user.lastname }} </p><br>
        <p><b>Mail:</b> {{ session.user.mail }} </p><br>
        <p><b>Role:</b> {{ session.user.role }} </p><br>
        {% if session.user.role == 'host' %}
            <p><b>Time before subscription end:</b> {{ session.user.timeRole }}</p><br>
        {% endif %}


        {% if session.user.role == 'user' %}
            <h4 id="becomeHost">Want to become an host ?</h4>
            <a href="/profile/buyHost">Pay 1000 token per month</a>
        {% endif %}
    </div>

{% endblock %}